.sideBar {
  position: fixed;
  background: white;
  height: 100%;
  min-width: 300px;
  box-shadow: 1px 1px 2px rgb(200, 200, 200);
  padding: 50px;
  visibility: hidden;
  z-index: 3;
  box-sizing: border-box;
}
.show {
  left: 0px;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
.hide {
  left: -400px;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
