.sideBar {
  flex-basis: 25%;
  min-width: 200px;
  max-width: 250px;
  max-height: 300px;
  flex-grow: 1;
  background-color: rgba(200, 200, 200, 1);
  box-shadow: 1px 1px 5px rgb(220, 220, 220);
  padding: 50px;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .sideBar {
    width: 100%;
    max-width: unset;
  }
}
