@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: unset;
}
#root {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(235, 235, 235) 0%,
    rgb(255, 255, 255) 100%
  );
}
