.feed-post {
  background: #fdfdfd;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  min-height: 350px;
  border-radius: 5px 30px 5px 30px;
  box-shadow: 1px 1px 5px rgb(200, 200, 200);
}

.feed-post-profile-picture {
  position: relative;
  align-self: center;
  top: 55px;
}

.feed-profile-picture-image {
  border-radius: 50px;
  border: 5px solid white;
}

.feed-post-user-stars {
  position: absolute;
  color: yellow;
}

@media (max-width: 750px) {
  .feed-post {
    width: 100%;
  }
}
