.feed-post {
  background: #fdfdfd;
  width: 100%;
  margin-top: 25px;
  min-height: 350px;
  border-radius: 5px 30px 5px 30px;
  box-shadow: 1px 1px 5px rgb(200, 200, 200);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "username userImage userRating"
    "content content content"
    "comments comments comments";
  justify-items: center;
}
.feed-post-username {
  justify-self: right;
  margin: 15px;
}
.feed-post-profile-picture {
  grid-area: "userImage";
  margin-top: -50px;
}

.feed-profile-picture-image {
  border-radius: 50px;
  border: 5px solid white;
}

.feed-post-user-stars {
  justify-self: left;
  margin: 15px;
  grid-area: "userRating";
  position: relative;
  right: 0px;
  color: yellow;
}

@media (max-width: 750px) {
  .feed-post {
    width: 100%;
  }
}
